@import "bourbon";
@import "vars";

.inner{
	max-width: 1171px;
	margin: 0 auto;
}
h1{
	font-size: 36px;
	font-weight: 700;
	margin: 0;
}
h2{
	font-size: 40px;
	font-weight: 600;
	margin: 0;
}
h3{
	font-size: 30px;
	font-weight: 600;
}
p{
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}
.p-bold{
	font-size: 20px;
	font-weight: 700;
}
.p-thin{
	font-size: 13px;
	font-weight: 400;
	color: white;
	line-height: 22px;
}
.inline-block{
	display: inline-block;
}
.icon{
	display: inline-block;
}
.icon-facebook{
	width: 10px;
	height: 22px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAYAAAD5Jg1dAAAAhklEQVQ4T+2Syw2DQAxEnztICSmBDkhHtBAqIK3QQagEqGQir4hkFsQnErfMbe0ne2yvESTpBjTAA7jHnH0fE9QDDi8UwRdQrUEei+AbKDNwBIY9sDMz95q0VbE2s+d5UJJ7E1BkE7u35C+1luTQnsajYHcUbC+YOtw6v8yPe/xXzH74bI8fvVJsyx1pMOwAAAAASUVORK5CYII=);
}
.icon-google{
	width: 22px;
	height: 23px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAXCAYAAAAP6L+eAAAB3UlEQVRIS5VVbVXDQBCcUUBRQFEAVUBRQFEAVUBxAAooCgAF4ADqoDgoCqiD4U3eXt4luSRl//T19m52dvYjRMEknQO4AjAv+QG8kXzt8VXHzJ2SJgBeABwDWIfvAcAZgD2AJYAdye0QaAnYDyYkp+lhBNsBOAKwJTkbA20AS1oBeALwSNIsa5N0G5n4bDkmQxvYbJ1yCdgS/Uakjr+UQa2xJA09lJQCP5N0doOWA7s4vTpK+gJwAeCeZCosJLlzPgFckvSdZldIcvvcxPmsXflg7KJOSZpEZYcA+5HTrVgHgwogimeW80LAYcYB4MEwgFM26IcZxqDUWUSgkyBtv7vGGbstbT+NAcnSq1KOIO6UDcl6CjO9+wq4KQJnAczAzPxrxrW2B2tcCi3JstyFz7p7OBrjPFq8jIF1tsZJW/9PZsZuqxp8FDg2mkfau8CFcOEsgcHMPLViY1/EO/tXecBKY0kLAO8AvqOlSlrmsozuiwScpu6apJkWTZJ93tOj+4KZRgY7JZl6sQOeZfZv4Ma8t5Gz9dkZ+fZdM/ZKrBd5PsoFYC+ZPUnXZNCSxvkidxAvek9bJUtI4H72/UVpUDqMWxNkQPdw29wt60O+HOlh367Iv87u2077jUnxB/428zItc3FcAAAAAElFTkSuQmCC);
}
.icon-twitter{
	width: 17px;
	height: 22px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAYAAAAmaHdCAAAA60lEQVQ4T+WUURHCMBBEdxWAA0AJ1AE4wAHgABwUBdQBSKAOkEAdFAVhtqRMyZD2Oh2+yGd797LZS5YA4JzbA9gAKAEcSGb6bl10zq0BnIKGhOS1D0TF86BBaqTOtKTkDyCaTtuEHiRvtWExTyyGCqIplkMg2mhHMh0KOZLcDoWsSF5ikALAvcOYrH4eP71s1VktI1JNTElOctEHkvoYCHvML1lKlgDOkV11a2MGS20VF/ShpMKJVX6j7nVPPKRNTRd7VkE86FvCdQH0P3lDGiAZPbJ0AyhITj8gHjQGIFU6YhibTXYOYKtIeALxdnVxEFUokwAAAABJRU5ErkJggg==);
}
.icon-rss{
	width: 22px;
	height: 21px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAABn0lEQVRIS51U7VECURBLKtAOlAqUCsQK1AqUCoQKhArECsQKhArUDiiBDrSDOGHu3azL3XG4f+7mfeTtJtmlpBmAJwA/ADYAtgA+AXyR9P+/ggG4CcAPLEm+HYt+CLjgOfPZMQ/0BS4PmKoxSX87g2VX0iWAUwD+PgC4aLlpLaYkl13INXA+JOm8esDCNoWpmbeBtwKHSvyAnXPfAPJCctIEXjh+TFZbk3TJdUgyPQsAJwnInO/R0iWeQebxgUoHWzCDD7Ogh1yxJ1QL+JbkIFZyCLicXZCcBt5Ny2uixNVZi11ku406rOYOHAfwMgrKkqsbFOoaXdFHKEn2vDsy8l1n3eVjX7RQuVGc1W44SbLVngMlNdedPq6ycvuehctvJM3xLiSZgpj1HclVnwYx7x9JqNpekuzh2Dy7prErXLIVvgWwqoZMbg5TchXAay4l+d572PMcHxk4X3LX+XDsunx5Q3JYUeHEvv94mKSBlcqE1/NaPhfPNGAMemVcZWYRo0OiO/LedeHYAtwAWLtB8gCqgD07PKtLTMp8kLS39wst0dKddWnySAAAAABJRU5ErkJggg==);
}
.icon-plus{
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABh0lEQVQ4T62Uz1HCQBTGvzeLnilBKhArEDuACoQCsuMeEw6EA8kxzKYAsALpwNhBqEA60LOy85wNSSaBhMHRPW1edn/ve/+W0LD8KOpeCTEk4BZAPz+SMrD9NmbjK/V5fI2ODYHWTwBmALpNTgBYyNyTcln9XwOFWq8YGLcAjs2bL2MmhboSdAaS5IRBQzhrV8qJtWegMI4HzPzaoGTpSamsPdA6AmDDri0ienAdJ8lAgdYWcuqRyHcdZ547mzGz3+Bs50nZozCKbliI96a80GUgsDF3FMTxEMwvFdCSiIryvlnZRfgA7u2emW1FyzAZmFAYxzXJnpQnLdGkNtCaC7tV/q+gesWIUjBnoTHwPJVybfcLrccEPGYqiLpgLjrefo/IjsO1EB9/STYZ0zv0UUtHX1i1xJPy4QBqb4GNJ+XorDNjeq5Su7JCeQ5WF85ZcUwVw1sr9S9hJaSctaqKRRT1SQg7Vycjk59L2Bg1VSqt3mttvixvnU4/f9xsK2xpv09tPprC/wHnrMcIaxEc4AAAAABJRU5ErkJggg==);
}
.icon-minus{
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABT0lEQVQ4T62U303DQAzGPyeF57BBmQBGSDeADcgAOZFHGqEGoYTHoMsAdAO6QcMElAnoBvAMTY3ulJxC/lSJwI93vp/P9mcTeizJsgsGzojZLV02IHqZ+/6q6wk1D2MprwAsAEx7YmwB3IVCLOv3v0CxlE8AFGiILUMhvMrRgBIpUwauhxBqPgamQfdZ5lrM65EQ7b4nmt36fq5BiZRrBqqijuIRkM+FmNFDmk73tv0+6nXD2SqKU9JtZn6uFe2RiT4PgYnZadTTozjLFmCOqoehEC1JdEFjKdmcE0X/B2p1jGhDzAdTYyIHzOemHESXFKWpc2TbH38p9ndRnOh6jFR0M6YWpQaVEngF4Iz9mWr9TRBsTYfKYVWzNsa8anibQ6sGdijMQFTklmbKNNUa6dsCK6soApVO7xqpX6huHk8mrlpuZcS3r90uj4KgUxo/BwuH37rExoQAAAAASUVORK5CYII=);
}
.icon-arrow-left{
	width: 12px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASCAYAAABvqT8MAAAAsUlEQVQ4T42TbRHCMBBEdyVgoRawgAYsVEKRABYqASxUAhbQUAnLXCaBNr185Gdn3+Tlbks0jqQBwATgRXJhLR/DbwCnmLsWAUkXAM9N2JjVBQphA45KtTCAvVIzTP6VesLmFN7QGw6AJBvZJ5tGeGBwJtft6A04A7BZ5+dG8pF/TEr3uM0m9NuDpC5ot7ge6LBpSVY0u83VK1WjBI218nmQX77k4ujN1f8htiDdNJMcvzESW/rxvWIsAAAAAElFTkSuQmCC);
}
.icon-arrow-right{
	width: 12px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASCAYAAABvqT8MAAAAtElEQVQ4T42TbRHCMBBEdyWgAQuVABKoBCxQCVQCFrAAFmoBCSBhmc0knbYkIfcz8959JBcCgKQDgBOAkeTLZ6WgJIP3CHwAdDXJwhvAbpGxKll4AHBLyyhKFpzdLTVJjEPXpCPJKZUPQoPUk3yam4VWaSU0SPsfIUoXANfM43W5CiXYWzBsZ6jCq6El/YVnoRUOgqQzgFtmwNDz9jy3fGaycKrg7K6SYiA5Fv9DvPckVWGzX6haYFHUPNCgAAAAAElFTkSuQmCC);
}